header{
    min-height: 90vh;
    background-color: #F2F0F1;
    padding: 0 16px;
    border: 1px solid transparent;
}

header h1{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Integral Cf';
    margin-top: 2rem;
}

header p:first-of-type{
    color: #858485;
    font-size: 1.1rem;
    margin-top: 1rem;
}

header button:first-of-type{
    background-color: black;
    color: white;
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    border-radius:  62px;
    margin-top: 1.5rem;
}

.data-display{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.data-display .data h2{
    color: black;
    font-size: 34px;
    font-weight: 600;
}

.data-display .data p{
    margin-top: 0;
    font-size: 18px;
}

.item1, .item2{
    max-width: 200px;
    width: 200px;
}

.item1{
    border-right: 1px solid #DAD8D9 ;
}

.display-banner{
    width: 100%;
    margin: -16px;
}

.display-banner img{
    height: 100%;
    width: 100%;
}