#navbar{
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 40px;
}

#main-logo{
    font-family: 'Integral CF';
    font-weight: 500;
    font-size: 2rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#navbar ul>li{
    cursor: pointer;
}

#navbar #actions>li{
    font-size: 1.5rem;
}


#navbar #search-bar{
    width: 500px;
    height: 300px;
    background-color: #F0F0F0;
    max-height: 100%;
    border-radius: 62px;
}

#navbar #search-bar{
    display: flex;
    align-items: center;
    color: hsla(0, 1%, 35%, 0.4);
    gap: 1rem;
}

#navbar #search-bar i{
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500px;
}
