#navbar{
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 40px;
    /* padding-bottom: 1px; */

}

#main-logo{
    font-family: 'Integral CF';
    font-weight: 500;
    font-size: 2rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#navbar ul>li{
    cursor: pointer;
}

#navbar #actions>li{
    font-size: 1.5rem;
}


#navbar #search-bar{
    width: 500px;
    height: 300px;
    background-color: #F0F0F0;
    max-height: 100%;
    border-radius: 62px;
}

#navbar #search-bar{
    display: flex;
    align-items: center;
    color: hsla(0, 1%, 35%, 0.4);
    gap: 1rem;
}

#navbar #search-bar i{
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500px;
}


/* For signup offer */

#signup-offer{
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
}

#signup-offer p{
    color: white;
    font-size: 14px;
}

#signup-offer.closed{
    display: none;
}

#signup-offer .cross{
    color: white;
    position: absolute;
    right: 1rem;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {

    #navbar{
       justify-content: space-between;
    }
    #navbar #search-bar{
        display: none;
    }
    #main-nav{
        display: none !important;
    }

    #navbar #actions>li{
        font-size: 1.2rem;
    }

    #signup-offer p{
        color: white;
        font-size: 10px;
    }

    #signup-offer .cross{
        font-size: 14px;
    }

    
}